@model ReportingAssistant.Models.changepassword

@{
    ViewBag.Title = "changepassword";
}

<h2>changepassword</h2>

<script src="~/JS/MyHeader.js"></script>
@*@using (Html.BeginForm("UserDetailsEdit", "UserDetails", new { area = "Administrator" }, FormMethod.Post, new { encrypt = "multipart/form-data" }))*@
<form action="/Account/changepassword" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken();

    <div class="form-row">

        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, new { placeholder = "Username", @class = "form-control", @disable = true, @disabled = "disabled" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.OldPassword)
            @Html.TextBoxFor(m => m.OldPassword, new { placeholder = "Please Enter The Old Password", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.NewPassword)
            @Html.TextBoxFor(m => m.NewPassword, new { placeholder = "Enter New Password", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.TextBoxFor(m => m.ConfirmPassword, new { placeholder = "Confirm The password", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        @Html.ValidationSummary()
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>